.body{
  margin: 0;
  padding: 0;
}

.card{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-title{
  font-size: 1.5em;
  margin-bottom: 8px;
}
.card-content{
  font-size: 1em;
  color: #555;
}
.navbar{
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;  align-items: center;
  justify-content: space-between;

}
.navbar-title{
  margin: 0;
  font-size: 1.5em;
  display: inline;
  margin-right: 20px;
}
.navbar-item{
  display: inline;
  margin-right: 15px;
  cursor: pointer;
} 